#result {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    justify-content: space-around;
    min-height: 100vh;

    .back {
        position: fixed;
        top: 10px;
        left: 10px;
        width: 60px;
        height: 40px;
        svg {
            width: 30px;
            height: 30px;
        }
    }

    .timer{
        font-size: 80px;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        .title {
            width: 100%;
            font-size: 0.3em;
            text-align: left;
        }
        .year {
            position: relative;
            display: flex;
            gap: 6px;
            font-weight: 900;
            color: #ffffff;
            .time {
                display: flex;
                align-items: end;
                span {
                    display: block;
                }
                span:first-child {
                    height: 1em;
                    font-family: Consolas, 'Courier New', Courier, monospace;
                }
                span:last-child {
                    font-size: 0.3em;
                    width: 1em;
                }
            }

            .arrow {
                width: 0.3em;
                position: absolute;
                right: 0;
                top: 0.3em;
                transform: translateY(-50%);
            }
        }
        .year::after {
            position: absolute;
            font-size: 0.3em;
            right: 0;
            top: 8px;
            font-weight: 900;
        }
        .year.add {
            .arrow {
                color: #90ee90;
            }
        }
        .year.sub {
            .arrow {
                color: #ed8985;
            }
        }
        .hms {
            color: #ed8985;
            font-family: Consolas, 'Courier New', Courier, monospace;
            font-weight: 900;
        }
        .addition {
            font-size: 0.3em;
            text-align: left;
        }
    }

    .achivements {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        max-width: 100%;
        justify-content: center;
        align-items: center;

        > * {
            padding: 4px 6px;
        }

        .grade1 {
            border-color: #ffffff;
        }
        .grade2 {
            border-color: #7a7aff;
        }
        .grade3 {
            border-color: #f655ff;
        }
        .grade4 {
            border-color: #ffa35c;
        }
    }

    .question {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        .title {
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            border: 2px solid #fff;
            background: #ed8985;
            padding: 6px;
            border-radius: 8px;
            top: 0;
            left: 50%;
            transform:translate(-50%, calc(20px - 50%)) ;
            position: absolute;
            box-sizing: border-box;
            text-wrap: nowrap;
        }
        .content {
            display: flex;
            flex-direction: column;
            border: 2px solid #fff;
            padding: 10px;
            padding-top: 20px;
            margin-top: 20px;
            gap: 10px;
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                min-width: 300px;
                gap: 10px;
                li {
                    min-width: 150px;
                    input {
                        display: none;
                    }
                    label {
                        border: 2px solid #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        padding: 5px;
                        cursor: pointer;
                        box-sizing: border-box;
                    }
                }

                li:has(input:checked) {
                    background-color: #fff;
                    color: #000;
                }
            }
        }
        .button-group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            .btn {
                height: 40px;
            }
            .disabled {
                cursor: not-allowed;
                border-color: #6a6a6a;
                color: #6a6a6a;
            }
        }
    }
}

@media only screen and (min-width: 1005px) {
    #result {
        .back {
            left: 50%;
            transform: translateX(-500px);
        }
    }
}